In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nikolskoye,RU,2020-08-02 21:53:19,59.70,30.79,59.00,87,90,3.51
1,1,Khandbari,NP,2020-08-02 21:50:15,27.37,87.20,75.16,77,100,0.87
2,2,Cape Town,ZA,2020-08-02 21:51:43,-33.93,18.42,62.01,87,0,12.75
3,3,Yulara,AU,2020-08-02 21:53:19,-25.24,130.99,41.00,27,0,5.82
4,4,Svetlogorsk,BY,2020-08-02 21:53:19,52.63,29.73,54.68,87,58,2.08

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Khandbari,NP,2020-08-02 21:50:15,27.37,87.20,75.16,77,100,0.87
7,7,Puerto Ayora,EC,2020-08-02 21:53:20,-0.74,-90.35,75.20,73,75,18.34
10,10,Albany,US,2020-08-02 21:52:26,42.60,-73.97,87.01,62,47,9.80
14,14,Sabaudia,IT,2020-08-02 21:53:21,41.30,13.03,75.99,83,0,3.15
16,16,Dalbandin,PK,2020-08-02 21:53:21,28.89,64.41,83.19,15,0,3.27
28,28,East London,ZA,2020-08-02 21:53:23,-33.02,27.91,75.27,19,0,11.74
31,31,Atuona,PF,2020-08-02 21:53:23,-9.80,-139.03,78.66,78,13,17.69
32,32,Hithadhoo,MV,2020-08-02 21:53:23,-0.60,73.08,82.85,77,64,10.89
35,35,Tiarei,PF,2020-08-02 21:53:23,-17.53,-149.33,82.40,69,75,14.99
37,37,Cockburn Town,TC,2020-08-02 21:53:24,21.46,-71.14,82.26,83,0,17.38

In [12]:
preferred_cities_df.count()

City_ID       196
City          196
Country       196
Date          196
Lat           196
Lng           196
Max Temp      196
Humidity      196
Cloudiness    196
Wind Speed    196
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp    Lat     Lng Hotel Name
1       Khandbari      NP     75.16  27.37   87.20
7    Puerto Ayora      EC     75.20  -0.74  -90.35
10         Albany      US     87.01  42.60  -73.97
14       Sabaudia      IT     75.99  41.30   13.03
16      Dalbandin      PK     83.19  28.89   64.41
28    East London      ZA     75.27 -33.02   27.91
31         Atuona      PF     78.66  -9.80 -139.03
32      Hithadhoo      MV     82.85  -0.60   73.08
35         Tiarei      PF     82.40 -17.53 -149.33
37  Cockburn Town      TC     82.26  21.46  -71.14

In [14]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Khandbari,NP,75.16,27.37,87.20,नेवारी फाष्टफुड एण्ड लज
7,Puerto Ayora,EC,75.20,-0.74,-90.35,Finch Bay Galapagos Hotel
10,Albany,US,87.01,42.60,-73.97,
14,Sabaudia,IT,75.99,41.30,13.03,Oasi di Kufra
16,Dalbandin,PK,83.19,28.89,64.41,Police station anti NARCOTICS FORCE
28,East London,ZA,75.27,-33.02,27.91,Tu Casa
31,Atuona,PF,78.66,-9.80,-139.03,Villa Enata
32,Hithadhoo,MV,82.85,-0.60,73.08,Scoop Guest House
35,Tiarei,PF,82.40,-17.53,-149.33,Le Rocher de Tahiti
37,Cockburn Town,TC,82.26,21.46,-71.14,Osprey Beach Hotel

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))